@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.client-card {
  background: linear-gradient(
    180deg,
    #ffffff -20.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

/* background-color: #4158D0;
background-image: linear-gradient(180deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
/* background-color: #4158D0;
background-image: linear-gradient(180deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */


.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* hero animation */

#heroAnimation h1{
  color: transparent;
  
  width: fit-content;
  position: relative;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s ;
}

#heroAnimation h1:nth-child(1){
  animation-delay: 1s;
}

#heroAnimation h1:nth-child(2){
  /* background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */

  animation: text_reveal_name .5s ease forwards;
  animation-delay: 2s;
}

#heroAnimation h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    /* #def9fa 0.89%,
    #bef3f5 17.23%, */
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );;
  animation: text_reveal-box 1s ease;
  animation-delay: .3s;
}

#heroAnimation h1:nth-child(1) span{
  animation-delay: .5s;
}

#heroAnimation h1:nth-child(2) span{
  animation-delay: 1.5s;
}


@keyframes text_reveal{
  100%{
      color: #fff;
  }
}

@keyframes text_reveal_name{
  100%{
      background:radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  }
}

@keyframes text_reveal-box{
  50%{
      width: 100%;
      left: 0;
  }
  100%{
      width: 0;
      left: 100%;
  }
}
.swiper-wrapper{
  display: flex;
  /* justify-content: center; */
  /* align-items: stretch */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

/* .swiper-pagination{
margin-top: 30px;
} */
@media (max-width: 640px) {
  .mySwiper .swiper-slide .client-card {
    /* Example to stack elements vertically */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mySwiper .swiper-slide img {
    /* Adjust the image size for small screens */
    width: 150px; /* Example size, adjust as needed */
  }
}

/* PROGRESS BAR */
.progress-6 {
  width: 200px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
.progress-6::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: p6 5s normal;
}
@keyframes p6 {
  100% {
    inset: 0;
  }
}

#deploymentMessage{
  display: none
}

/* ***** */

